.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .counter-section {
        margin: 10px;
        text-align: center;
        background-color: #f0f0f0;
        padding: 40px;
        border-radius: 8px;

        .counter-value {
            font-size: 48px;
            margin: 0px 20px 20px 20px;
        }

        .line {
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }

        .buttons-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;

            .inc-dec-btns {
                .decrement-button {
                    margin: 5px;
                    padding: 10px 50px;
                    font-size: 24px;
                    border: none;
                    cursor: pointer;
                    background-color: red;
                }

                .increment-button {
                    margin: 5px;
                    padding: 10px 50px;
                    font-size: 24px;
                    border: none;
                    cursor: pointer;
                    background-color: green;
                }
            }
            .reset-save-btns {
                .reset-button {
                    margin: 5px;
                    padding: 10px 28px;
                    font-size: 20px;
                    border: none;
                    cursor: pointer;
                    background-color: rgb(223, 221, 221);
                }

                .save-button {
                    margin: 5px;
                    padding: 10px 34px;
                    font-size: 20px;
                    border: none;
                    cursor: pointer;
                    background-color: blue;
                }
            }
        }
        .message {
            margin-top: 20px;
            font-size: 18px;
            color: black;
        }
    }
}