.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color-container {
    padding: 20px;
    text-align: center;
}
.color-box {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background-color: hotpink;
    display: flex;
    align-items: end;
    justify-content: center;
}
button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.change-color-red {
    background-color: red;
}
.change-color-yellow {
    background-color: yellow;
}
.change-color-green {
    background-color: green;
}
.change-color-blue {
    background-color: blue;
}