.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.title {
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.time-section {
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#clock_container {
    font-size: 60px;
    font-family: sans-serif;
}
#date_container {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 10px;
    align-items: center;
}

